# Created by .ignore support plugin (hsz.mobi)
vendor
.idea
composer.lock
tests/tmp
apiPbc\Api\ApiBootstrapErrorLog.txt
apiPbc\Api\GetErrorLog.txt
apiPbc\Api\PostErrorLog.txt
apiPbc\Api\PutErrorLog.txt
tests\apiPbc\Api\ApiBootstrapErrorLog.txt
tests\apiPbc\Api\DeleteErrorLog.txt
tests\apiPbc\Api\GetErrorLog.txt
tests\apiPbc\Api\PostErrorLog.txt
tests\apiPbc\Api\PutErrorLog.txt
tmp
build
apiPbc-Api-ApiBootstrapErrorLog.txt
apiPbc-Api-DeleteErrorLog.txt
apiPbc-Api-GetErrorLog.txt
apiPbc-Api-PostErrorLog.txt
apiPbc-Api-PutErrorLog.txt
